In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
import json
from collections import OrderedDict

In [33]:
'''
column = ['Date','KGD','KNR','WYD','KKD','MPM','PKD','TSR','EKM','IDK','KTM','ALP','PTA','KLM','TVM']
data = [['04/08/2020',4032,9505,2875,12500,31212,10947,11978,12457,4141,9396,6438,4588,9002,15991]]
quarantine_total = pd.DataFrame(data,columns=column)
print(quarantine_total)
quarantine_total.to_csv('data/quarantine_total.csv')
'''

         Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR    EKM   IDK  \
0  04/08/2020  4032  9505  2875  12500  31212  10947  11978  12457  4141

    KTM   ALP   PTA   KLM    TVM
0  9396  6438  4588  9002  15991

In [104]:
total_quarantine = pd.read_csv('data/quarantine_total.csv')
total_quarantine

,Unnamed: 0,Date,KGD,KNR,WYD,KKD,MPM,PKD,TSR,EKM,IDK,KTM,ALP,PTA,KLM,TVM
0,0,04/08/2020,4032,9505,2875,12500,31212,10947,11978,12457,4141,9396,6438,4588,9002,15991
1,1,05/08/2020,4162,9629,2857,13132,31571,10644,11790,13263,4181,9593,6648,4944,9166,16394
2,2,06/08/2020,4329,9721,2883,13455,31792,10939,11662,12391,4285,9043,6924,4970,8511,17134
3,3,07/08/2020,4422,9679,2921,13463,32500,11733,11673,12260,4116,9330,6949,5071,8023,17544
4,4,10/08/2020,4701,8919,2774,13784,32536,11530,10982,12336,3848,9708,7190,5028,7710,18249
5,5,11/08/2020,4844,8731,2800,14209,32958,11578,9708,12728,3737,10105,6768,5101,7606,18834
6,6,12/08/2020,4988,8927,2717,14578,33791,11681,9704,13356,3824,9515,6920,5176,7228,19347
7,7,13/08/2020,5145,9064,2772,14502,33694,12051,9706,13767,3914,9002,7140,5276,7418,19610
8,8,14/08/2020,5171,8936,2759,14750,33763,12329,9707,13933,4169,9305,7373,5175,7536,20119
9,9,15/08/2020,5245,9099,2776,14791,34481,12888,9960,14325,4134,9584,7331,5098,7837,22620
10,10,16/08/2020,5068,9042,2667,15086,34690,13716,10030,14646,4248,9871,7588,5019,7844,22702

In [124]:
#check if there is unwanterd columns ?
print(total_quarantine.columns)
inp = input("is there any unwanted coumns ? (y/n)")
if inp == 'y':
    column_name =  input("Enter column name :")
    del total_quarantine[column_name]
    total_quarantine.to_csv('data/quarantine_total.csv', index = True)

Index(['Date', 'KGD', 'KNR', 'WYD', 'KKD', 'MPM', 'PKD', 'TSR', 'EKM', 'IDK',
       'KTM', 'ALP', 'PTA', 'KLM', 'TVM'],
      dtype='object')
is there any unwanted coumns ? (y/n)n

In [83]:
def column_str_found(df):
    for i in df.columns:
        if df.dtypes[i] == object :
            return(i)


def update_file(data,file_path):
    sample = data
    continue_ = 'n'
    continue_ = input("Do you have to update the data  : (y/n)")
    while(continue_ =='y'):
        print(" Options !!")
        print("\tAdd Column : c \n\tAdd row values : r")
        op = input("Enter your option")
        if op == 'c' :
            print("-------------------")
            print("Adding column")
            print("-------------------")
            column_name = input("Enter Column name : ")
            column_length = len(sample)
            print("Enter your entries {0} :".format("must be length of  "),len(sample))
            column = []
            for i in range(column_length):
                value = input()
                column.append(value)
            sample[column_name] = np.array(column)
            print(sample)
            save = input("Do you want to save changes (y/n): ")
            if save == 'y' : 
                data = sample
            continue_ = input("do you want to add more : (y/n)")
        if op == 'r' :
            print("-------------------")
            print("Adding row values")
            print("-------------------")
            row = {}
            d=[]
            i=0
            #finding the str type columns
            col = column_str_found(sample)
            for key in sample.columns:
                if key == col :
                    value = input("Enter {0}".format(key))
                else :
                    value = int(input("Enter {0}".format(key)))
                row.update({key:value})
                i = i+1
            d.append(row)    
            sample = sample.append(d,True)
            print(sample)
            save = input("Do you want to save these changes (y/n): ")
            if save == 'y' : 
                data = sample
                print(data)
            continue_ = input("do you want to add more : (y/n)")

    print("Final : ")
    print(data)
    final_save = input("Do you want to overwrite covid_numbers.csv : (y/n) ")
    if final_save == 'y':
        data.to_csv(file_path, index = True)
        print("Successully saved data")

In [92]:
update_file(total_quarantine,'data/quarantine_total.csv')

Do you have to update the data  : (y/n)y
 Options !!
	Add Column : c
	Add row values : r
Enter your optionr
-------------------
Adding row values
-------------------
Enter Unnamed: 00
Enter Date08/08/2020
Enter KGD4504
Enter KNR9324
Enter WYD2793
Enter KKD13475
Enter MPM31857
Enter PKD11803
Enter TSR11699
Enter EKM11854
Enter IDK4068
Enter KTM9590
Enter ALP6580
Enter PTA5032
Enter KLM7743
Enter TVM17919
   Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0           0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1           1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2           2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3           3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4           0  08/08/2020  4504  9324  2793  13475  31857  11803  11699

     EKM   IDK   KTM   ALP   PTA   KLM    TVM
0  12457  4141  9396  6438  4588  9002  15991
1  13263  4181  9593  6648  4944  9166  16394
2  12391  4285  9043  6924  4970  8511  17134
3  12260  4116  9330  6949  5071  8023  17544
4  11854  4068  9590  6580  5032  7743  17919
Do you want to save these changes (y/n): y
   Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0           0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1           1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2           2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3           3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4           0  08/08/2020  4504  9324  2793  13475  31857  11803  11699

     EKM   IDK   KTM   ALP   PTA   KLM    TVM
0  12457  4141  9396  6438  4588  9002  15991
1  13263  4181  9593  6648  4944  9166  16394
2  12391  4285  9043  6924  4970  8511  17134
3  12260  4116  9330  6949  5071  8023  17544
4  11854  4068  9590  6580  5032  7743  17919
do you want to add more : (y/n)y
 Options !!
	Add Column : c
	Add row values : r
Enter your option09/08/2020
 Options !!
	Add Column : c
	Add row values : r
Enter your optionr
-------------------
Adding row values
-------------------
Enter Unnamed: 00
Enter Date09/08/2020
Enter KGD4574
Enter KNR9062
Enter WYD2798
Enter KKD13880
Enter MPM31894
Enter PKD11807
Enter TSR11636
Enter EKM12106
Enter IDK3998
Enter KTM9836
Enter ALP6969
Enter PTA4930
Enter KLM7732
Enter TVM18135
   Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0           0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1           1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2           2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3           3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4           0  08/08/2020  4504  9324  2793  13475  31857  11803  11699
5           0  09/08/2020  4574  9062  2798  13880  31894  11807  11636

     EKM   IDK   KTM   ALP   PTA   KLM    TVM
0  12457  4141  9396  6438  4588  9002  15991
1  13263  4181  9593  6648  4944  9166  16394
2  12391  4285  9043  6924  4970  8511  17134
3  12260  4116  9330  6949  5071  8023  17544
4  11854  4068  9590  6580  5032  7743  17919
5  12106  3998  9836  6969  4930  7732  18135
Do you want to save these changes (y/n): y
   Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0           0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1           1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2           2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3           3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4           0  08/08/2020  4504  9324  2793  13475  31857  11803  11699
5           0  09/08/2020  4574  9062  2798  13880  31894  11807  11636

     EKM   IDK   KTM   ALP   PTA   KLM    TVM
0  12457  4141  9396  6438  4588  9002  15991
1  13263  4181  9593  6648  4944  9166  16394
2  12391  4285  9043  6924  4970  8511  17134
3  12260  4116  9330  6949  5071  8023  17544
4  11854  4068  9590  6580  5032  7743  17919
5  12106  3998  9836  6969  4930  7732  18135
do you want to add more : (y/n)n
Final :
   Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0           0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1           1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2           2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3           3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4           0  08/08/2020  4504  9324  2793  13475  31857  11803  11699
5           0  09/08/2020  4574  9062  2798  13880  31894  11807  11636

     EKM   IDK   KTM   ALP   PTA   KLM    TVM
0  12457  4141  9396  6438  4588  9002  15991
1  13263  4181  9593  6648  4944  9166  16394
2  12391  4285  9043  6924  4970  8511  17134
3  12260  4116  9330  6949  5071  8023  17544
4  11854  4068  9590  6580  5032  7743  17919
5  12106  3998  9836  6969  4930  7732  18135
Do you want to overwrite covid_numbers.csv : (y/n) y
Successully saved data

In [93]:
update_file(total_quarantine,'data/quarantine_total.csv')

Do you have to update the data  : (y/n)y
 Options !!
	Add Column : c
	Add row values : r
Enter your optionr
-------------------
Adding row values
-------------------
Enter Unnamed: 00
Enter Date10/08/2020
Enter KGD4701
Enter KNR8919
Enter WYD2774
Enter KKD13784
Enter MPM32536
Enter PKD11530
Enter TSR10982
Enter EKM12336
Enter IDK3848
Enter KTM9708
Enter ALP7190
Enter PTA5028
Enter KLM7710
Enter TVM18249
   Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0           0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1           1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2           2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3           3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4           0  10/08/2020  4701  8919  2774  13784  32536  11530  10982

     EKM   IDK   KTM   ALP   PTA   KLM    TVM
0  12457  4141  9396  6438  4588  9002  15991
1  13263  4181  9593  6648  4944  9166  16394
2  12391  4285  9043  6924  4970  8511  17134
3  12260  4116  9330  6949  5071  8023  17544
4  12336  3848  9708  7190  5028  7710  18249
Do you want to save these changes (y/n): y
   Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0           0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1           1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2           2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3           3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4           0  10/08/2020  4701  8919  2774  13784  32536  11530  10982

     EKM   IDK   KTM   ALP   PTA   KLM    TVM
0  12457  4141  9396  6438  4588  9002  15991
1  13263  4181  9593  6648  4944  9166  16394
2  12391  4285  9043  6924  4970  8511  17134
3  12260  4116  9330  6949  5071  8023  17544
4  12336  3848  9708  7190  5028  7710  18249
do you want to add more : (y/n)y
 Options !!
	Add Column : c
	Add row values : r
Enter your optionr
-------------------
Adding row values
-------------------
Enter Unnamed: 00
Enter Date11/08/2020
Enter KGD4844
Enter KNR8731
Enter WYD2800
Enter KKD14209
Enter MPM32958
Enter PKD11578
Enter TSR9708
Enter EKM12728
Enter IDK3737
Enter KTM10105
Enter ALP6768
Enter PTA5101
Enter KLM7606
Enter TVM18834
   Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0           0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1           1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2           2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3           3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4           0  10/08/2020  4701  8919  2774  13784  32536  11530  10982
5           0  11/08/2020  4844  8731  2800  14209  32958  11578   9708

     EKM   IDK    KTM   ALP   PTA   KLM    TVM
0  12457  4141   9396  6438  4588  9002  15991
1  13263  4181   9593  6648  4944  9166  16394
2  12391  4285   9043  6924  4970  8511  17134
3  12260  4116   9330  6949  5071  8023  17544
4  12336  3848   9708  7190  5028  7710  18249
5  12728  3737  10105  6768  5101  7606  18834
Do you want to save these changes (y/n): y
   Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0           0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1           1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2           2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3           3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4           0  10/08/2020  4701  8919  2774  13784  32536  11530  10982
5           0  11/08/2020  4844  8731  2800  14209  32958  11578   9708

     EKM   IDK    KTM   ALP   PTA   KLM    TVM
0  12457  4141   9396  6438  4588  9002  15991
1  13263  4181   9593  6648  4944  9166  16394
2  12391  4285   9043  6924  4970  8511  17134
3  12260  4116   9330  6949  5071  8023  17544
4  12336  3848   9708  7190  5028  7710  18249
5  12728  3737  10105  6768  5101  7606  18834
do you want to add more : (y/n)y
 Options !!
	Add Column : c
	Add row values : r
Enter your optionr
-------------------
Adding row values
-------------------
Enter Unnamed: 00
Enter Date12/08/2020
Enter KGD4988
Enter KNR8927
Enter WYD2717
Enter KKD14578
Enter MPM33791
Enter PKD11681
Enter TSR9704
Enter EKM13356
Enter IDK3824
Enter KTM9515
Enter ALP6920
Enter PTA5176
Enter KLM7228
Enter TVM19347
   Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0           0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1           1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2           2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3           3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4           0  10/08/2020  4701  8919  2774  13784  32536  11530  10982
5           0  11/08/2020  4844  8731  2800  14209  32958  11578   9708
6           0  12/08/2020  4988  8927  2717  14578  33791  11681   9704

     EKM   IDK    KTM   ALP   PTA   KLM    TVM
0  12457  4141   9396  6438  4588  9002  15991
1  13263  4181   9593  6648  4944  9166  16394
2  12391  4285   9043  6924  4970  8511  17134
3  12260  4116   9330  6949  5071  8023  17544
4  12336  3848   9708  7190  5028  7710  18249
5  12728  3737  10105  6768  5101  7606  18834
6  13356  3824   9515  6920  5176  7228  19347
Do you want to save these changes (y/n): y
   Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0           0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1           1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2           2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3           3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4           0  10/08/2020  4701  8919  2774  13784  32536  11530  10982
5           0  11/08/2020  4844  8731  2800  14209  32958  11578   9708
6           0  12/08/2020  4988  8927  2717  14578  33791  11681   9704

     EKM   IDK    KTM   ALP   PTA   KLM    TVM
0  12457  4141   9396  6438  4588  9002  15991
1  13263  4181   9593  6648  4944  9166  16394
2  12391  4285   9043  6924  4970  8511  17134
3  12260  4116   9330  6949  5071  8023  17544
4  12336  3848   9708  7190  5028  7710  18249
5  12728  3737  10105  6768  5101  7606  18834
6  13356  3824   9515  6920  5176  7228  19347
do you want to add more : (y/n)y
 Options !!
	Add Column : c
	Add row values : r
Enter your optionr
-------------------
Adding row values
-------------------
Enter Unnamed: 00
Enter Date13/08/2020
Enter KGD5145
Enter KNR9064
Enter WYD2772
Enter KKD14502
Enter MPM33694
Enter PKD12051
Enter TSR9706
Enter EKM13767
Enter IDK3914
Enter KTM9002
Enter ALP7140
Enter PTA5276
Enter KLM7418
Enter TVM19610
   Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0           0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1           1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2           2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3           3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4           0  10/08/2020  4701  8919  2774  13784  32536  11530  10982
5           0  11/08/2020  4844  8731  2800  14209  32958  11578   9708
6           0  12/08/2020  4988  8927  2717  14578  33791  11681   9704
7           0  13/08/2020  5145  9064  2772  14502  33694  12051   9706

     EKM   IDK    KTM   ALP   PTA   KLM    TVM
0  12457  4141   9396  6438  4588  9002  15991
1  13263  4181   9593  6648  4944  9166  16394
2  12391  4285   9043  6924  4970  8511  17134
3  12260  4116   9330  6949  5071  8023  17544
4  12336  3848   9708  7190  5028  7710  18249
5  12728  3737  10105  6768  5101  7606  18834
6  13356  3824   9515  6920  5176  7228  19347
7  13767  3914   9002  7140  5276  7418  19610
Do you want to save these changes (y/n): y
   Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0           0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1           1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2           2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3           3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4           0  10/08/2020  4701  8919  2774  13784  32536  11530  10982
5           0  11/08/2020  4844  8731  2800  14209  32958  11578   9708
6           0  12/08/2020  4988  8927  2717  14578  33791  11681   9704
7           0  13/08/2020  5145  9064  2772  14502  33694  12051   9706

     EKM   IDK    KTM   ALP   PTA   KLM    TVM
0  12457  4141   9396  6438  4588  9002  15991
1  13263  4181   9593  6648  4944  9166  16394
2  12391  4285   9043  6924  4970  8511  17134
3  12260  4116   9330  6949  5071  8023  17544
4  12336  3848   9708  7190  5028  7710  18249
5  12728  3737  10105  6768  5101  7606  18834
6  13356  3824   9515  6920  5176  7228  19347
7  13767  3914   9002  7140  5276  7418  19610

do you want to add more : (y/n)y
 Options !!
	Add Column : c
	Add row values : r
Enter your optionr
-------------------
Adding row values
-------------------
Enter Unnamed: 00
Enter Date14/08/2020
Enter KGD5171
Enter KNR8936
Enter WYD2759
Enter KKD14750
Enter MPM33763
Enter PKD12329
Enter TSR9707
Enter EKM13933
Enter IDK4169
Enter KTM9305
Enter ALP7373
Enter PTA5175
Enter KLM7536
Enter TVM20119
   Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0           0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1           1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2           2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3           3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4           0  10/08/2020  4701  8919  2774  13784  32536  11530  10982
5           0  11/08/2020  4844  8731  2800  14209  32958  11578   9708
6           0  12/08/2020  4988  8927  2717  14578  33791  11681   9704
7           0  13/08/2020  5145  9064  2772  14502  33694  12051   9706
8           0  14/08/2020  5171  8936  2759  14750  33763  12329   9707

     EKM   IDK    KTM   ALP   PTA   KLM    TVM
0  12457  4141   9396  6438  4588  9002  15991
1  13263  4181   9593  6648  4944  9166  16394
2  12391  4285   9043  6924  4970  8511  17134
3  12260  4116   9330  6949  5071  8023  17544
4  12336  3848   9708  7190  5028  7710  18249
5  12728  3737  10105  6768  5101  7606  18834
6  13356  3824   9515  6920  5176  7228  19347
7  13767  3914   9002  7140  5276  7418  19610
8  13933  4169   9305  7373  5175  7536  20119
Do you want to save these changes (y/n): y
   Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0           0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1           1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2           2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3           3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4           0  10/08/2020  4701  8919  2774  13784  32536  11530  10982
5           0  11/08/2020  4844  8731  2800  14209  32958  11578   9708
6           0  12/08/2020  4988  8927  2717  14578  33791  11681   9704
7           0  13/08/2020  5145  9064  2772  14502  33694  12051   9706
8           0  14/08/2020  5171  8936  2759  14750  33763  12329   9707

     EKM   IDK    KTM   ALP   PTA   KLM    TVM
0  12457  4141   9396  6438  4588  9002  15991
1  13263  4181   9593  6648  4944  9166  16394
2  12391  4285   9043  6924  4970  8511  17134
3  12260  4116   9330  6949  5071  8023  17544
4  12336  3848   9708  7190  5028  7710  18249
5  12728  3737  10105  6768  5101  7606  18834
6  13356  3824   9515  6920  5176  7228  19347
7  13767  3914   9002  7140  5276  7418  19610
8  13933  4169   9305  7373  5175  7536  20119
do you want to add more : (y/n)y
 Options !!
	Add Column : c
	Add row values : r
Enter your optionr
-------------------
Adding row values
-------------------
Enter Unnamed: 00
Enter Date15/08/2020
Enter KGD5245
Enter KNR9099
Enter WYD2776
Enter KKD14791
Enter MPM34481
Enter PKD12888
Enter TSR9960
Enter EKM14325
Enter IDK4134
Enter KTM9584
Enter ALP7331
Enter PTA5098
Enter KLM7837
Enter TVM22620
   Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0           0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1           1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2           2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3           3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4           0  10/08/2020  4701  8919  2774  13784  32536  11530  10982
5           0  11/08/2020  4844  8731  2800  14209  32958  11578   9708
6           0  12/08/2020  4988  8927  2717  14578  33791  11681   9704
7           0  13/08/2020  5145  9064  2772  14502  33694  12051   9706
8           0  14/08/2020  5171  8936  2759  14750  33763  12329   9707
9           0  15/08/2020  5245  9099  2776  14791  34481  12888   9960

     EKM   IDK    KTM   ALP   PTA   KLM    TVM
0  12457  4141   9396  6438  4588  9002  15991
1  13263  4181   9593  6648  4944  9166  16394
2  12391  4285   9043  6924  4970  8511  17134
3  12260  4116   9330  6949  5071  8023  17544
4  12336  3848   9708  7190  5028  7710  18249
5  12728  3737  10105  6768  5101  7606  18834
6  13356  3824   9515  6920  5176  7228  19347
7  13767  3914   9002  7140  5276  7418  19610
8  13933  4169   9305  7373  5175  7536  20119
9  14325  4134   9584  7331  5098  7837  22620
Do you want to save these changes (y/n): y
   Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0           0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1           1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2           2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3           3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4           0  10/08/2020  4701  8919  2774  13784  32536  11530  10982
5           0  11/08/2020  4844  8731  2800  14209  32958  11578   9708
6           0  12/08/2020  4988  8927  2717  14578  33791  11681   9704
7           0  13/08/2020  5145  9064  2772  14502  33694  12051   9706
8           0  14/08/2020  5171  8936  2759  14750  33763  12329   9707
9           0  15/08/2020  5245  9099  2776  14791  34481  12888   9960

     EKM   IDK    KTM   ALP   PTA   KLM    TVM
0  12457  4141   9396  6438  4588  9002  15991
1  13263  4181   9593  6648  4944  9166  16394
2  12391  4285   9043  6924  4970  8511  17134
3  12260  4116   9330  6949  5071  8023  17544
4  12336  3848   9708  7190  5028  7710  18249
5  12728  3737  10105  6768  5101  7606  18834
6  13356  3824   9515  6920  5176  7228  19347
7  13767  3914   9002  7140  5276  7418  19610
8  13933  4169   9305  7373  5175  7536  20119
9  14325  4134   9584  7331  5098  7837  22620
do you want to add more : (y/n)y
 Options !!
	Add Column : c
	Add row values : r
Enter your optionr
-------------------
Adding row values
-------------------
Enter Unnamed: 00
Enter Date16/08/2020
Enter KGD5068
Enter KNR9042
Enter WYD2667
Enter KKD15086
Enter MPM34690
Enter PKD13716
Enter TSR10030
Enter EKM14646
Enter IDK4248
Enter KTM9871
Enter ALP7588
Enter PTA5019
Enter KLM7844
Enter TVM22702
    Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0            0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1            1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2            2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3            3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4            0  10/08/2020  4701  8919  2774  13784  32536  11530  10982
5            0  11/08/2020  4844  8731  2800  14209  32958  11578   9708
6            0  12/08/2020  4988  8927  2717  14578  33791  11681   9704
7            0  13/08/2020  5145  9064  2772  14502  33694  12051   9706
8            0  14/08/2020  5171  8936  2759  14750  33763  12329   9707
9            0  15/08/2020  5245  9099  2776  14791  34481  12888   9960
10           0  16/08/2020  5068  9042  2667  15086  34690  13716  10030

      EKM   IDK    KTM   ALP   PTA   KLM    TVM
0   12457  4141   9396  6438  4588  9002  15991
1   13263  4181   9593  6648  4944  9166  16394
2   12391  4285   9043  6924  4970  8511  17134
3   12260  4116   9330  6949  5071  8023  17544
4   12336  3848   9708  7190  5028  7710  18249
5   12728  3737  10105  6768  5101  7606  18834
6   13356  3824   9515  6920  5176  7228  19347
7   13767  3914   9002  7140  5276  7418  19610
8   13933  4169   9305  7373  5175  7536  20119
9   14325  4134   9584  7331  5098  7837  22620
10  14646  4248   9871  7588  5019  7844  22702
Do you want to save these changes (y/n): y
    Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0            0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1            1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2            2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3            3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4            0  10/08/2020  4701  8919  2774  13784  32536  11530  10982
5            0  11/08/2020  4844  8731  2800  14209  32958  11578   9708
6            0  12/08/2020  4988  8927  2717  14578  33791  11681   9704
7            0  13/08/2020  5145  9064  2772  14502  33694  12051   9706
8            0  14/08/2020  5171  8936  2759  14750  33763  12329   9707
9            0  15/08/2020  5245  9099  2776  14791  34481  12888   9960
10           0  16/08/2020  5068  9042  2667  15086  34690  13716  10030

      EKM   IDK    KTM   ALP   PTA   KLM    TVM
0   12457  4141   9396  6438  4588  9002  15991
1   13263  4181   9593  6648  4944  9166  16394
2   12391  4285   9043  6924  4970  8511  17134
3   12260  4116   9330  6949  5071  8023  17544
4   12336  3848   9708  7190  5028  7710  18249
5   12728  3737  10105  6768  5101  7606  18834
6   13356  3824   9515  6920  5176  7228  19347
7   13767  3914   9002  7140  5276  7418  19610
8   13933  4169   9305  7373  5175  7536  20119
9   14325  4134   9584  7331  5098  7837  22620
10  14646  4248   9871  7588  5019  7844  22702

do you want to add more : (y/n)y
 Options !!
	Add Column : c
	Add row values : r
Enter your option17/08/2020
 Options !!
	Add Column : c
	Add row values : r
Enter your optionr
-------------------
Adding row values
-------------------
Enter Unnamed: 00
Enter Date17/08/2020
Enter KGD5108
Enter KNR9079
Enter WYD2761
Enter KKD14720
Enter MPM36233
Enter PKD13693
Enter TSR9135
Enter EKM15015
Enter IDK7547
Enter KTM10202
Enter ALP5080
Enter PTA8114
Enter KLM23147
Enter TVM4195
    Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0            0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1            1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2            2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3            3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4            0  10/08/2020  4701  8919  2774  13784  32536  11530  10982
5            0  11/08/2020  4844  8731  2800  14209  32958  11578   9708
6            0  12/08/2020  4988  8927  2717  14578  33791  11681   9704
7            0  13/08/2020  5145  9064  2772  14502  33694  12051   9706
8            0  14/08/2020  5171  8936  2759  14750  33763  12329   9707
9            0  15/08/2020  5245  9099  2776  14791  34481  12888   9960
10           0  16/08/2020  5068  9042  2667  15086  34690  13716  10030
11           0  17/08/2020  5108  9079  2761  14720  36233  13693   9135

      EKM   IDK    KTM   ALP   PTA    KLM    TVM
0   12457  4141   9396  6438  4588   9002  15991
1   13263  4181   9593  6648  4944   9166  16394
2   12391  4285   9043  6924  4970   8511  17134
3   12260  4116   9330  6949  5071   8023  17544
4   12336  3848   9708  7190  5028   7710  18249
5   12728  3737  10105  6768  5101   7606  18834
6   13356  3824   9515  6920  5176   7228  19347
7   13767  3914   9002  7140  5276   7418  19610
8   13933  4169   9305  7373  5175   7536  20119
9   14325  4134   9584  7331  5098   7837  22620
10  14646  4248   9871  7588  5019   7844  22702
11  15015  7547  10202  5080  8114  23147   4195
Do you want to save these changes (y/n): n
do you want to add more : (y/n)n
Final :
    Unnamed: 0        Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR  \
0            0  04/08/2020  4032  9505  2875  12500  31212  10947  11978
1            1  05/08/2020  4162  9629  2857  13132  31571  10644  11790
2            2  06/08/2020  4329  9721  2883  13455  31792  10939  11662
3            3  07/08/2020  4422  9679  2921  13463  32500  11733  11673
4            0  10/08/2020  4701  8919  2774  13784  32536  11530  10982
5            0  11/08/2020  4844  8731  2800  14209  32958  11578   9708
6            0  12/08/2020  4988  8927  2717  14578  33791  11681   9704
7            0  13/08/2020  5145  9064  2772  14502  33694  12051   9706
8            0  14/08/2020  5171  8936  2759  14750  33763  12329   9707
9            0  15/08/2020  5245  9099  2776  14791  34481  12888   9960
10           0  16/08/2020  5068  9042  2667  15086  34690  13716  10030

      EKM   IDK    KTM   ALP   PTA   KLM    TVM
0   12457  4141   9396  6438  4588  9002  15991
1   13263  4181   9593  6648  4944  9166  16394
2   12391  4285   9043  6924  4970  8511  17134
3   12260  4116   9330  6949  5071  8023  17544
4   12336  3848   9708  7190  5028  7710  18249
5   12728  3737  10105  6768  5101  7606  18834
6   13356  3824   9515  6920  5176  7228  19347
7   13767  3914   9002  7140  5276  7418  19610
8   13933  4169   9305  7373  5175  7536  20119
9   14325  4134   9584  7331  5098  7837  22620
10  14646  4248   9871  7588  5019  7844  22702
Do you want to overwrite covid_numbers.csv : (y/n) y
Successully saved data

In [113]:
update_file(total_quarantine,'data/quarantine_total.csv')

Do you have to update the data  : (y/n)y
 Options !!
	Add Column : c
	Add row values : r
Enter your optionr
-------------------
Adding row values
-------------------
Enter Unnamed: 00
Enter Unnamed: 0.10
Enter Unnamed: 0.1.10
Enter Date19/08/2020
Enter KGD5119
Enter KNR9141
Enter WYD2634
Enter KKD14720
Enter MPM38702
Enter PKD14142
Enter TSR9010
Enter EKM17137
Enter IDK4215
Enter KTM9667
Enter ALP7700
Enter PTA5267
Enter KLM8951
Enter TVM23282
    Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1        Date   KGD   KNR   WYD  \
0            0             0               0  04/08/2020  4032  9505  2875
1            1             1               1  05/08/2020  4162  9629  2857
2            2             2               2  06/08/2020  4329  9721  2883
3            3             3               3  07/08/2020  4422  9679  2921
4            4             4               4  10/08/2020  4701  8919  2774
5            5             5               5  11/08/2020  4844  8731  2800
6            6             6               6  12/08/2020  4988  8927  2717
7            7             7               7  13/08/2020  5145  9064  2772
8            8             8               8  14/08/2020  5171  8936  2759
9            9             9               9  15/08/2020  5245  9099  2776
10          10            10              10  16/08/2020  5068  9042  2667
11          11            11               0  17/08/2020  5108  9079  2761
12          12             0               0  18/08/2020  5093  9171  2784
13           0             0               0  19/08/2020  5119  9141  2634

      KKD    MPM    PKD    TSR    EKM   IDK    KTM   ALP   PTA   KLM    TVM
0   12500  31212  10947  11978  12457  4141   9396  6438  4588  9002  15991
1   13132  31571  10644  11790  13263  4181   9593  6648  4944  9166  16394
2   13455  31792  10939  11662  12391  4285   9043  6924  4970  8511  17134
3   13463  32500  11733  11673  12260  4116   9330  6949  5071  8023  17544
4   13784  32536  11530  10982  12336  3848   9708  7190  5028  7710  18249
5   14209  32958  11578   9708  12728  3737  10105  6768  5101  7606  18834
6   14578  33791  11681   9704  13356  3824   9515  6920  5176  7228  19347
7   14502  33694  12051   9706  13767  3914   9002  7140  5276  7418  19610
8   14750  33763  12329   9707  13933  4169   9305  7373  5175  7536  20119
9   14791  34481  12888   9960  14325  4134   9584  7331  5098  7837  22620
10  15086  34690  13716  10030  14646  4248   9871  7588  5019  7844  22702
11  14720  36233  13693   9135  15015  7547  10202  4195  5080  8114  23147
12  14922  37531  13768   8891  15576  7705   9377  4270  5386  8537  22553
13  14720  38702  14142   9010  17137  4215   9667  7700  5267  8951  23282
Do you want to save these changes (y/n): y
    Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1        Date   KGD   KNR   WYD  \
0            0             0               0  04/08/2020  4032  9505  2875
1            1             1               1  05/08/2020  4162  9629  2857
2            2             2               2  06/08/2020  4329  9721  2883
3            3             3               3  07/08/2020  4422  9679  2921
4            4             4               4  10/08/2020  4701  8919  2774
5            5             5               5  11/08/2020  4844  8731  2800
6            6             6               6  12/08/2020  4988  8927  2717
7            7             7               7  13/08/2020  5145  9064  2772
8            8             8               8  14/08/2020  5171  8936  2759
9            9             9               9  15/08/2020  5245  9099  2776
10          10            10              10  16/08/2020  5068  9042  2667
11          11            11               0  17/08/2020  5108  9079  2761
12          12             0               0  18/08/2020  5093  9171  2784
13           0             0               0  19/08/2020  5119  9141  2634

      KKD    MPM    PKD    TSR    EKM   IDK    KTM   ALP   PTA   KLM    TVM
0   12500  31212  10947  11978  12457  4141   9396  6438  4588  9002  15991
1   13132  31571  10644  11790  13263  4181   9593  6648  4944  9166  16394
2   13455  31792  10939  11662  12391  4285   9043  6924  4970  8511  17134
3   13463  32500  11733  11673  12260  4116   9330  6949  5071  8023  17544
4   13784  32536  11530  10982  12336  3848   9708  7190  5028  7710  18249
5   14209  32958  11578   9708  12728  3737  10105  6768  5101  7606  18834
6   14578  33791  11681   9704  13356  3824   9515  6920  5176  7228  19347
7   14502  33694  12051   9706  13767  3914   9002  7140  5276  7418  19610
8   14750  33763  12329   9707  13933  4169   9305  7373  5175  7536  20119
9   14791  34481  12888   9960  14325  4134   9584  7331  5098  7837  22620
10  15086  34690  13716  10030  14646  4248   9871  7588  5019  7844  22702
11  14720  36233  13693   9135  15015  7547  10202  4195  5080  8114  23147
12  14922  37531  13768   8891  15576  7705   9377  4270  5386  8537  22553
13  14720  38702  14142   9010  17137  4215   9667  7700  5267  8951  23282
do you want to add more : (y/n)n
Final :
    Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1        Date   KGD   KNR   WYD  \
0            0             0               0  04/08/2020  4032  9505  2875
1            1             1               1  05/08/2020  4162  9629  2857
2            2             2               2  06/08/2020  4329  9721  2883
3            3             3               3  07/08/2020  4422  9679  2921
4            4             4               4  10/08/2020  4701  8919  2774
5            5             5               5  11/08/2020  4844  8731  2800
6            6             6               6  12/08/2020  4988  8927  2717
7            7             7               7  13/08/2020  5145  9064  2772
8            8             8               8  14/08/2020  5171  8936  2759
9            9             9               9  15/08/2020  5245  9099  2776
10          10            10              10  16/08/2020  5068  9042  2667
11          11            11               0  17/08/2020  5108  9079  2761
12          12             0               0  18/08/2020  5093  9171  2784
13           0             0               0  19/08/2020  5119  9141  2634

      KKD    MPM    PKD    TSR    EKM   IDK    KTM   ALP   PTA   KLM    TVM
0   12500  31212  10947  11978  12457  4141   9396  6438  4588  9002  15991
1   13132  31571  10644  11790  13263  4181   9593  6648  4944  9166  16394
2   13455  31792  10939  11662  12391  4285   9043  6924  4970  8511  17134
3   13463  32500  11733  11673  12260  4116   9330  6949  5071  8023  17544
4   13784  32536  11530  10982  12336  3848   9708  7190  5028  7710  18249
5   14209  32958  11578   9708  12728  3737  10105  6768  5101  7606  18834
6   14578  33791  11681   9704  13356  3824   9515  6920  5176  7228  19347
7   14502  33694  12051   9706  13767  3914   9002  7140  5276  7418  19610
8   14750  33763  12329   9707  13933  4169   9305  7373  5175  7536  20119
9   14791  34481  12888   9960  14325  4134   9584  7331  5098  7837  22620
10  15086  34690  13716  10030  14646  4248   9871  7588  5019  7844  22702
11  14720  36233  13693   9135  15015  7547  10202  4195  5080  8114  23147
12  14922  37531  13768   8891  15576  7705   9377  4270  5386  8537  22553
13  14720  38702  14142   9010  17137  4215   9667  7700  5267  8951  23282
Do you want to overwrite covid_numbers.csv : (y/n) y
Successully saved data

In [120]:
update_file(total_quarantine,'data/quarantine_total.csv')

Do you have to update the data  : (y/n)y
 Options !!
	Add Column : c
	Add row values : r
Enter your optionr
-------------------
Adding row values
-------------------
Enter Date20/08/2020
Enter KGD4936
Enter KNR9004
Enter WYD3053
Enter KKD14850
Enter MPM40315
Enter PKD14084
Enter TSR9104
Enter EKM16839
Enter IDK4210
Enter KTM10322
Enter ALP7926
Enter PTA5390
Enter KLM9169
Enter TVM23987
          Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR    EKM   IDK  \
0   04/08/2020  4032  9505  2875  12500  31212  10947  11978  12457  4141
1   05/08/2020  4162  9629  2857  13132  31571  10644  11790  13263  4181
2   06/08/2020  4329  9721  2883  13455  31792  10939  11662  12391  4285
3   07/08/2020  4422  9679  2921  13463  32500  11733  11673  12260  4116
4   10/08/2020  4701  8919  2774  13784  32536  11530  10982  12336  3848
5   11/08/2020  4844  8731  2800  14209  32958  11578   9708  12728  3737
6   12/08/2020  4988  8927  2717  14578  33791  11681   9704  13356  3824
7   13/08/2020  5145  9064  2772  14502  33694  12051   9706  13767  3914
8   14/08/2020  5171  8936  2759  14750  33763  12329   9707  13933  4169
9   15/08/2020  5245  9099  2776  14791  34481  12888   9960  14325  4134
10  16/08/2020  5068  9042  2667  15086  34690  13716  10030  14646  4248
11  17/08/2020  5108  9079  2761  14720  36233  13693   9135  15015  7547
12  18/08/2020  5093  9171  2784  14922  37531  13768   8891  15576  7705
13  19/08/2020  5119  9141  2634  14720  38702  14142   9010  17137  4215
14  20/08/2020  4936  9004  3053  14850  40315  14084   9104  16839  4210

      KTM   ALP   PTA   KLM    TVM
0    9396  6438  4588  9002  15991
1    9593  6648  4944  9166  16394
2    9043  6924  4970  8511  17134
3    9330  6949  5071  8023  17544
4    9708  7190  5028  7710  18249
5   10105  6768  5101  7606  18834
6    9515  6920  5176  7228  19347
7    9002  7140  5276  7418  19610
8    9305  7373  5175  7536  20119
9    9584  7331  5098  7837  22620
10   9871  7588  5019  7844  22702
11  10202  4195  5080  8114  23147
12   9377  4270  5386  8537  22553
13   9667  7700  5267  8951  23282
14  10322  7926  5390  9169  23987
Do you want to save these changes (y/n): y
          Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR    EKM   IDK  \
0   04/08/2020  4032  9505  2875  12500  31212  10947  11978  12457  4141
1   05/08/2020  4162  9629  2857  13132  31571  10644  11790  13263  4181
2   06/08/2020  4329  9721  2883  13455  31792  10939  11662  12391  4285
3   07/08/2020  4422  9679  2921  13463  32500  11733  11673  12260  4116
4   10/08/2020  4701  8919  2774  13784  32536  11530  10982  12336  3848
5   11/08/2020  4844  8731  2800  14209  32958  11578   9708  12728  3737
6   12/08/2020  4988  8927  2717  14578  33791  11681   9704  13356  3824
7   13/08/2020  5145  9064  2772  14502  33694  12051   9706  13767  3914
8   14/08/2020  5171  8936  2759  14750  33763  12329   9707  13933  4169
9   15/08/2020  5245  9099  2776  14791  34481  12888   9960  14325  4134
10  16/08/2020  5068  9042  2667  15086  34690  13716  10030  14646  4248
11  17/08/2020  5108  9079  2761  14720  36233  13693   9135  15015  7547
12  18/08/2020  5093  9171  2784  14922  37531  13768   8891  15576  7705
13  19/08/2020  5119  9141  2634  14720  38702  14142   9010  17137  4215
14  20/08/2020  4936  9004  3053  14850  40315  14084   9104  16839  4210

      KTM   ALP   PTA   KLM    TVM
0    9396  6438  4588  9002  15991
1    9593  6648  4944  9166  16394
2    9043  6924  4970  8511  17134
3    9330  6949  5071  8023  17544
4    9708  7190  5028  7710  18249
5   10105  6768  5101  7606  18834
6    9515  6920  5176  7228  19347
7    9002  7140  5276  7418  19610
8    9305  7373  5175  7536  20119
9    9584  7331  5098  7837  22620
10   9871  7588  5019  7844  22702
11  10202  4195  5080  8114  23147
12   9377  4270  5386  8537  22553
13   9667  7700  5267  8951  23282
14  10322  7926  5390  9169  23987
do you want to add more : (y/n)y
 Options !!
	Add Column : c
	Add row values : r
Enter your optionr
-------------------
Adding row values
-------------------
Enter Date21/08/2020
Enter KGD5354
Enter KNR9287
Enter WYD3300
Enter KKD14837
Enter MPM40582
Enter PKD14093
Enter TSR9395
Enter EKM17094
Enter IDK4222
Enter KTM11004
Enter ALP8663
Enter PTA5493
Enter KLM9479
Enter TVM24127
          Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR    EKM   IDK  \
0   04/08/2020  4032  9505  2875  12500  31212  10947  11978  12457  4141
1   05/08/2020  4162  9629  2857  13132  31571  10644  11790  13263  4181
2   06/08/2020  4329  9721  2883  13455  31792  10939  11662  12391  4285
3   07/08/2020  4422  9679  2921  13463  32500  11733  11673  12260  4116
4   10/08/2020  4701  8919  2774  13784  32536  11530  10982  12336  3848
5   11/08/2020  4844  8731  2800  14209  32958  11578   9708  12728  3737
6   12/08/2020  4988  8927  2717  14578  33791  11681   9704  13356  3824
7   13/08/2020  5145  9064  2772  14502  33694  12051   9706  13767  3914
8   14/08/2020  5171  8936  2759  14750  33763  12329   9707  13933  4169
9   15/08/2020  5245  9099  2776  14791  34481  12888   9960  14325  4134
10  16/08/2020  5068  9042  2667  15086  34690  13716  10030  14646  4248
11  17/08/2020  5108  9079  2761  14720  36233  13693   9135  15015  7547
12  18/08/2020  5093  9171  2784  14922  37531  13768   8891  15576  7705
13  19/08/2020  5119  9141  2634  14720  38702  14142   9010  17137  4215
14  20/08/2020  4936  9004  3053  14850  40315  14084   9104  16839  4210
15  21/08/2020  5354  9287  3300  14837  40582  14093   9395  17094  4222

      KTM   ALP   PTA   KLM    TVM
0    9396  6438  4588  9002  15991
1    9593  6648  4944  9166  16394
2    9043  6924  4970  8511  17134
3    9330  6949  5071  8023  17544
4    9708  7190  5028  7710  18249
5   10105  6768  5101  7606  18834
6    9515  6920  5176  7228  19347
7    9002  7140  5276  7418  19610
8    9305  7373  5175  7536  20119
9    9584  7331  5098  7837  22620
10   9871  7588  5019  7844  22702
11  10202  4195  5080  8114  23147
12   9377  4270  5386  8537  22553
13   9667  7700  5267  8951  23282
14  10322  7926  5390  9169  23987
15  11004  8663  5493  9479  24127
Do you want to save these changes (y/n): y
          Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR    EKM   IDK  \
0   04/08/2020  4032  9505  2875  12500  31212  10947  11978  12457  4141
1   05/08/2020  4162  9629  2857  13132  31571  10644  11790  13263  4181
2   06/08/2020  4329  9721  2883  13455  31792  10939  11662  12391  4285
3   07/08/2020  4422  9679  2921  13463  32500  11733  11673  12260  4116
4   10/08/2020  4701  8919  2774  13784  32536  11530  10982  12336  3848
5   11/08/2020  4844  8731  2800  14209  32958  11578   9708  12728  3737
6   12/08/2020  4988  8927  2717  14578  33791  11681   9704  13356  3824
7   13/08/2020  5145  9064  2772  14502  33694  12051   9706  13767  3914
8   14/08/2020  5171  8936  2759  14750  33763  12329   9707  13933  4169
9   15/08/2020  5245  9099  2776  14791  34481  12888   9960  14325  4134
10  16/08/2020  5068  9042  2667  15086  34690  13716  10030  14646  4248
11  17/08/2020  5108  9079  2761  14720  36233  13693   9135  15015  7547
12  18/08/2020  5093  9171  2784  14922  37531  13768   8891  15576  7705
13  19/08/2020  5119  9141  2634  14720  38702  14142   9010  17137  4215
14  20/08/2020  4936  9004  3053  14850  40315  14084   9104  16839  4210
15  21/08/2020  5354  9287  3300  14837  40582  14093   9395  17094  4222

      KTM   ALP   PTA   KLM    TVM
0    9396  6438  4588  9002  15991
1    9593  6648  4944  9166  16394
2    9043  6924  4970  8511  17134
3    9330  6949  5071  8023  17544
4    9708  7190  5028  7710  18249
5   10105  6768  5101  7606  18834
6    9515  6920  5176  7228  19347
7    9002  7140  5276  7418  19610
8    9305  7373  5175  7536  20119
9    9584  7331  5098  7837  22620
10   9871  7588  5019  7844  22702
11  10202  4195  5080  8114  23147
12   9377  4270  5386  8537  22553
13   9667  7700  5267  8951  23282
14  10322  7926  5390  9169  23987
15  11004  8663  5493  9479  24127

do you want to add more : (y/n)y
 Options !!
	Add Column : c
	Add row values : r
Enter your optionr
-------------------
Adding row values
-------------------
Enter Date22/08/2020
Enter KGD5402
Enter KNR9621
Enter WYD3623
Enter KKD14864
Enter MPM41539
Enter PKD13687
Enter TSR9596
Enter EKM16886
Enter IDK4200
Enter KTM12033
Enter ALP9510
Enter PTA5602
Enter KLM9445
Enter TVM24241
          Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR    EKM   IDK  \
0   04/08/2020  4032  9505  2875  12500  31212  10947  11978  12457  4141
1   05/08/2020  4162  9629  2857  13132  31571  10644  11790  13263  4181
2   06/08/2020  4329  9721  2883  13455  31792  10939  11662  12391  4285
3   07/08/2020  4422  9679  2921  13463  32500  11733  11673  12260  4116
4   10/08/2020  4701  8919  2774  13784  32536  11530  10982  12336  3848
5   11/08/2020  4844  8731  2800  14209  32958  11578   9708  12728  3737
6   12/08/2020  4988  8927  2717  14578  33791  11681   9704  13356  3824
7   13/08/2020  5145  9064  2772  14502  33694  12051   9706  13767  3914
8   14/08/2020  5171  8936  2759  14750  33763  12329   9707  13933  4169
9   15/08/2020  5245  9099  2776  14791  34481  12888   9960  14325  4134
10  16/08/2020  5068  9042  2667  15086  34690  13716  10030  14646  4248
11  17/08/2020  5108  9079  2761  14720  36233  13693   9135  15015  7547
12  18/08/2020  5093  9171  2784  14922  37531  13768   8891  15576  7705
13  19/08/2020  5119  9141  2634  14720  38702  14142   9010  17137  4215
14  20/08/2020  4936  9004  3053  14850  40315  14084   9104  16839  4210
15  21/08/2020  5354  9287  3300  14837  40582  14093   9395  17094  4222
16  22/08/2020  5402  9621  3623  14864  41539  13687   9596  16886  4200

      KTM   ALP   PTA   KLM    TVM
0    9396  6438  4588  9002  15991
1    9593  6648  4944  9166  16394
2    9043  6924  4970  8511  17134
3    9330  6949  5071  8023  17544
4    9708  7190  5028  7710  18249
5   10105  6768  5101  7606  18834
6    9515  6920  5176  7228  19347
7    9002  7140  5276  7418  19610
8    9305  7373  5175  7536  20119
9    9584  7331  5098  7837  22620
10   9871  7588  5019  7844  22702
11  10202  4195  5080  8114  23147
12   9377  4270  5386  8537  22553
13   9667  7700  5267  8951  23282
14  10322  7926  5390  9169  23987
15  11004  8663  5493  9479  24127
16  12033  9510  5602  9445  24241
Do you want to save these changes (y/n): y
          Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR    EKM   IDK  \
0   04/08/2020  4032  9505  2875  12500  31212  10947  11978  12457  4141
1   05/08/2020  4162  9629  2857  13132  31571  10644  11790  13263  4181
2   06/08/2020  4329  9721  2883  13455  31792  10939  11662  12391  4285
3   07/08/2020  4422  9679  2921  13463  32500  11733  11673  12260  4116
4   10/08/2020  4701  8919  2774  13784  32536  11530  10982  12336  3848
5   11/08/2020  4844  8731  2800  14209  32958  11578   9708  12728  3737
6   12/08/2020  4988  8927  2717  14578  33791  11681   9704  13356  3824
7   13/08/2020  5145  9064  2772  14502  33694  12051   9706  13767  3914
8   14/08/2020  5171  8936  2759  14750  33763  12329   9707  13933  4169
9   15/08/2020  5245  9099  2776  14791  34481  12888   9960  14325  4134
10  16/08/2020  5068  9042  2667  15086  34690  13716  10030  14646  4248
11  17/08/2020  5108  9079  2761  14720  36233  13693   9135  15015  7547
12  18/08/2020  5093  9171  2784  14922  37531  13768   8891  15576  7705
13  19/08/2020  5119  9141  2634  14720  38702  14142   9010  17137  4215
14  20/08/2020  4936  9004  3053  14850  40315  14084   9104  16839  4210
15  21/08/2020  5354  9287  3300  14837  40582  14093   9395  17094  4222
16  22/08/2020  5402  9621  3623  14864  41539  13687   9596  16886  4200

      KTM   ALP   PTA   KLM    TVM
0    9396  6438  4588  9002  15991
1    9593  6648  4944  9166  16394
2    9043  6924  4970  8511  17134
3    9330  6949  5071  8023  17544
4    9708  7190  5028  7710  18249
5   10105  6768  5101  7606  18834
6    9515  6920  5176  7228  19347
7    9002  7140  5276  7418  19610
8    9305  7373  5175  7536  20119
9    9584  7331  5098  7837  22620
10   9871  7588  5019  7844  22702
11  10202  4195  5080  8114  23147
12   9377  4270  5386  8537  22553
13   9667  7700  5267  8951  23282
14  10322  7926  5390  9169  23987
15  11004  8663  5493  9479  24127
16  12033  9510  5602  9445  24241
do you want to add more : (y/n)n
Final :
          Date   KGD   KNR   WYD    KKD    MPM    PKD    TSR    EKM   IDK  \
0   04/08/2020  4032  9505  2875  12500  31212  10947  11978  12457  4141
1   05/08/2020  4162  9629  2857  13132  31571  10644  11790  13263  4181
2   06/08/2020  4329  9721  2883  13455  31792  10939  11662  12391  4285
3   07/08/2020  4422  9679  2921  13463  32500  11733  11673  12260  4116
4   10/08/2020  4701  8919  2774  13784  32536  11530  10982  12336  3848
5   11/08/2020  4844  8731  2800  14209  32958  11578   9708  12728  3737
6   12/08/2020  4988  8927  2717  14578  33791  11681   9704  13356  3824
7   13/08/2020  5145  9064  2772  14502  33694  12051   9706  13767  3914
8   14/08/2020  5171  8936  2759  14750  33763  12329   9707  13933  4169
9   15/08/2020  5245  9099  2776  14791  34481  12888   9960  14325  4134
10  16/08/2020  5068  9042  2667  15086  34690  13716  10030  14646  4248
11  17/08/2020  5108  9079  2761  14720  36233  13693   9135  15015  7547
12  18/08/2020  5093  9171  2784  14922  37531  13768   8891  15576  7705
13  19/08/2020  5119  9141  2634  14720  38702  14142   9010  17137  4215
14  20/08/2020  4936  9004  3053  14850  40315  14084   9104  16839  4210
15  21/08/2020  5354  9287  3300  14837  40582  14093   9395  17094  4222
16  22/08/2020  5402  9621  3623  14864  41539  13687   9596  16886  4200

      KTM   ALP   PTA   KLM    TVM
0    9396  6438  4588  9002  15991
1    9593  6648  4944  9166  16394
2    9043  6924  4970  8511  17134
3    9330  6949  5071  8023  17544
4    9708  7190  5028  7710  18249
5   10105  6768  5101  7606  18834
6    9515  6920  5176  7228  19347
7    9002  7140  5276  7418  19610
8    9305  7373  5175  7536  20119
9    9584  7331  5098  7837  22620
10   9871  7588  5019  7844  22702
11  10202  4195  5080  8114  23147
12   9377  4270  5386  8537  22553
13   9667  7700  5267  8951  23282
14  10322  7926  5390  9169  23987
15  11004  8663  5493  9479  24127
16  12033  9510  5602  9445  24241
Do you want to overwrite covid_numbers.csv : (y/n) y
Successully saved data

In [125]:
total_quarantine = pd.read_csv('data/quarantine_total.csv')
total_quarantine

,Unnamed: 0,Date,KGD,KNR,WYD,KKD,MPM,PKD,TSR,EKM,IDK,KTM,ALP,PTA,KLM,TVM
0,0,04/08/2020,4032,9505,2875,12500,31212,10947,11978,12457,4141,9396,6438,4588,9002,15991
1,1,05/08/2020,4162,9629,2857,13132,31571,10644,11790,13263,4181,9593,6648,4944,9166,16394
2,2,06/08/2020,4329,9721,2883,13455,31792,10939,11662,12391,4285,9043,6924,4970,8511,17134
3,3,07/08/2020,4422,9679,2921,13463,32500,11733,11673,12260,4116,9330,6949,5071,8023,17544
4,4,10/08/2020,4701,8919,2774,13784,32536,11530,10982,12336,3848,9708,7190,5028,7710,18249
5,5,11/08/2020,4844,8731,2800,14209,32958,11578,9708,12728,3737,10105,6768,5101,7606,18834
6,6,12/08/2020,4988,8927,2717,14578,33791,11681,9704,13356,3824,9515,6920,5176,7228,19347
7,7,13/08/2020,5145,9064,2772,14502,33694,12051,9706,13767,3914,9002,7140,5276,7418,19610
8,8,14/08/2020,5171,8936,2759,14750,33763,12329,9707,13933,4169,9305,7373,5175,7536,20119
9,9,15/08/2020,5245,9099,2776,14791,34481,12888,9960,14325,4134,9584,7331,5098,7837,22620
10,10,16/08/2020,5068,9042,2667,15086,34690,13716,10030,14646,4248,9871,7588,5019,7844,22702
11,11,17/08/2020,5108,9079,2761,14720,36233,13693,9135,15015,7547,10202,4195,5080,8114,23147
12,12,18/08/2020,5093,9171,2784,14922,37531,13768,8891,15576,7705,9377,4270,5386,8537,22553
13,13,19/08/2020,5119,9141,2634,14720,38702,14142,9010,17137,4215,9667,7700,5267,8951,23282
14,14,20/08/2020,4936,9004,3053,14850,40315,14084,9104,16839,4210,10322,7926,5390,9169,23987
15,15,21/08/2020,5354,9287,3300,14837,40582,14093,9395,17094,4222,11004,8663,5493,9479,24127
16,16,22/08/2020,5402,9621,3623,14864,41539,13687,9596,16886,4200,12033,9510,5602,9445,24241